beautifulsoup4==4.13.4
bs4==0.0.2
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==44.0.3
dulwich==0.22.8
gitdb==4.0.12
GitPython==3.1.44
idna==3.10
pycparser==2.22
PySocks==1.7.1
requests==2.32.3
requests-pkcs12==1.25
smmap==5.0.2
socks==0
soupsieve==2.7
typing_extensions==4.13.2
urllib3==2.4.0
